{% extends "base.html" %}
{% load static %}

{% block title %}Новости - Клиника "Здоровье"{% endblock %}
{% block content_title %}Новости и статьи{% endblock %}

{% block extra_head %}
  <style media="all">
    @import url("{% static 'css/article_list_style.css' %}");
  </style>
{% endblock %}

{% block content %}
  {% if articles %}
    <div id="news-list" itemscope itemtype="https://schema.org/ItemList">
      {% for article in articles %}
        <article id="article-{{ article.slug }}" class="news-card" itemprop="itemListElement" itemscope itemtype="https://schema.org/NewsArticle">
          <meta itemprop="position" content="{{ forloop.counter }}">
          {% if article.image or article.image_url %}
            <figure>
              <a href="{% url 'article_detail' article.slug %}" tabindex="-1">
                {% if article.image %}
                  <img src="{{ article.image.url }}" alt="">
                {% else %}
                  <img src="{{ article.image_url }}" alt="">
                {% endif %}
              </a>
            </figure>
          {% endif %}
          <div class="card-content">
            <header>
              <h3>
                <a href="{% url 'article_detail' article.slug %}" title="{{ article.title }}">{{ article.title }}</a>
              </h3>
              <p class="meta-info">
                <time datetime="{{ article.published_date|date:'c' }}">{{ article.published_date|date:"d F Y" }}</time>
                {% if article.author %}| <span>{{ article.author.get_full_name|default:article.author.username }}</span>{% endif %}
              </p>
            </header>

            {% if article.short_description %}
              <p class="description">{{ article.short_description }}</p>
            {% endif %}

            <a href="{% url 'article_detail' article.slug %}" class="read-more-btn">Читать далее</a>
          </div>
        </article>
      {% endfor %}
    </div>
  {% else %}
    <p>На данный момент нет опубликованных статей.</p>
  {% endif %}
{% endblock %}