{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="ru" dir="ltr" itemscope itemtype="https://schema.org/MedicalBusiness" translate="yes" spellcheck="true">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Клиника{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/theme.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/preloader_style.css' %}">
    {% block extra_head %}{% endblock %}
    <script src="{% static 'js/interactive-table.js' %}"></script>
</head>
<body>

<header id="site-header" itemscope itemtype="https://schema.org/WPHeader" tabindex="-1">
    <div class="header-content">
        <h1>
            <a href="{% url 'home' %}" itemprop="url">
                <span itemprop="name" translate="no">{% block site_name %}Клиника "Здоровье"{% endblock %}</span>
            </a>
        </h1>
        <div class="user-info">
            <span>Таймзона: {{ user_active_timezone_name|default:"Не определена" }}</span> |
            {% if user.is_authenticated %}
                Привет, <span itemprop="employee" spellcheck="false">{{ user.first_name|default:user.username }}</span>!
                <a href="{% url 'user_logout' %}">Выход</a>
            {% else %}
                <a href="{% url 'user_login' %}">Вход</a> |
                <a href="{% url 'client_register' %}">Регистрация</a>
            {% endif %}
        </div>
        <div class="theme-switcher">
            <label for="theme-toggle">Тёмная тема</label>
            <input type="checkbox" id="theme-toggle" aria-label="Переключить тему">
        </div>
    </div>
</header>
<div class="preloader-container" id="preloader">
<div class="preloader" role="img" aria-label="Маятниковые линии: симметричный каскад">
        <div class="pivot">
            <div class="wrap line-blue">
                <div class="rot">
                    <div class="bar"></div>
                </div>
            </div>
            <div class="wrap line-green">
                <div class="rot">
                    <div class="bar"></div>
                </div>
            </div>
            <div class="wrap line-orange">
                <div class="rot">
                    <div class="bar"></div>
                </div>
            </div>
            <div class="wrap line-red">
                <div class="rot">
                    <div class="bar"></div>
                </div>
            </div>
            <div class="wrap line-pink">
                <div class="rot">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="layout">
    <div id="content-wrap">
        <nav id="primary-nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
            <a accesskey="1" href="{% url 'home' %}" itemprop="name url">Главная</a>
            {% if user.is_superuser %}
                <a href="{% url 'premial_contacts' %}" itemprop="name url">Контакты сотрудников</a>
            {% endif %}
            {% if not user.is_authenticated or user.profile.role != 'doctor' %}
                <a accesskey="2" href="{% url 'about_company' %}" itemprop="name url">О компании</a>
                <a accesskey="3" href="{% url 'article_list' %}" itemprop="name url">Новости</a>
                <a accesskey="4" href="{% url 'faq_list' %}" itemprop="name url" lang="en" translate="no">FAQ</a>
                <a accesskey="5" href="{% url 'service_list' %}" itemprop="name url">Услуги</a>
                <a accesskey="6" tabindex="4" href="{% url 'find_available_slots' %}" itemprop="name url">Запись на
                    услугу</a>
                <a accesskey="7" tabindex="3" href="{% url 'review_list' %}" itemprop="name url">Отзывы</a>
                <a accesskey="8" href="{% url 'public_promo_code_list' %}" itemprop="name url">Акции и промокоды</a>
                <a accesskey="9" href="{% url 'contacts' %}" itemprop="name url">Контакты</a>
                <a accesskey="0" href="{% url 'vacancy_list' %}" itemprop="name url">Вакансии</a>
                <a href="{% url 'privacy_policy' %}" itemprop="name url">Политика конфиденциальности</a>
                <a href="{% url 'statistics' %}" itemprop="name url">Статистика</a>
                <a href="{% url 'http_cat' %}" itemprop="name url"><span lang="en" translate="no">HTTP</span> Коты</a>
                <a href="{% url 'lab_demo' %}" itemprop="name url">Дополнительный функционал</a>{% endif %}
            {% if user.is_authenticated %}{% if user.profile %}{% if user.profile.role == 'client' %}
                <a href="{% url 'client_dashboard' %}" itemprop="name url">Мой кабинет</a>
                <a href="{% url 'cart_view' %}" itemprop="name url">Корзина</a>
                <a href="{% url 'client_appointments' %}" itemprop="name url">Мои записи</a>
                <a href="{% url 'client_applied_promo_codes' %}" itemprop="name url">Мои промокоды</a>
            {% elif user.profile.role == 'doctor' %}
                <a href="{% url 'doctor_dashboard' %}" itemprop="name url">Кабинет врача</a>
                <a href="{% url 'doctor_schedule' %}" itemprop="name url">Мое расписание</a>
                <a href="{% url 'doctor_leave_requests' %}" itemprop="name url">Запросы на отпуск</a>
                <a href="{% url 'doctor_day_off_requests' %}" itemprop="name url">Отгул/Сокращенный день</a>{% endif %}
            {% endif %}{% endif %}
        </nav>

        <main id="main-content" tabindex="-1">
            {% if messages %}
                <ul id="messages" tabindex="0" aria-live="polite">
                    {% for message in messages %}
                        <li lang="ru">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content_title_block %}
                <header id="page-header">
                    <h2 id="content-title" tabindex="-1">{% block content_title %}Заголовок страницы{% endblock %}</h2>
                </header>
            {% endblock %}
            {% block content %}
                <p>Содержимое страницы будет здесь.</p>
            {% endblock %}
        </main>
    </div>

    <aside id="sidebar" itemscope itemtype="https://schema.org/WPSideBar" tabindex="0" aria-label="Боковая панель">
        <section id="calendar-widget">
            {% block calendar_content %}
                <div class="calendar-caption">{{ current_local_month_date_obj|date:"F Y" }}</div>
                <pre class="calendar-text-output">{{ text_calendar_output }}</pre>
            {% endblock calendar_content %}
        </section>
        <hr>
        <section>
            <p><strong>Время сервера (UTC):</strong><br>{% timezone "UTC" %}<time>{{ current_time_utc|date:"Y-m-d H:i:s" }}</time>{% endtimezone %}</p>
            <p><strong>Ваше время ({{ user_active_timezone_name }}):</strong><br><time>{{ current_time_local|date:"Y-m-d H:i:s" }}</time></p>
        </section>
    </aside>
</div>
<footer id="site-footer" itemscope itemtype="https://schema.org/WPFooter" tabindex="0">
    <p>&copy; {% now "Y" %} <span itemprop="copyrightHolder">Клиника "Здоровье"</span>. Все права защищены.</p>
</footer>

<script src="{% static 'js/timezone.js' %}" defer></script>
{% block extra_js %}{% endblock %}
</body>
</html>