{% extends 'base.html' %}
{% block title %}Ваша корзина записей{% endblock %}

{% block content %}
    <h1>Ваша корзина</h1>
    {% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Услуга</th>
                    <th>Врач</th>
                    <th>Дата и время</th>
                    <th>Стоимость</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.service.name }}</td>
                    <td>{{ item.doctor }}</td>
                    <td>{{ item.start_datetime|date:"d.m.Y H:i" }}</td>
                    <td>{{ item.price_at_booking }} руб.</td>
                    <td>
                        <a href="{% url 'remove_from_cart' item.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <div style="text-align: right;">
            <h3>Итого: {{ total_price }} руб.</h3>
            <a href="{% url 'payment_page' %}" class="btn btn-primary btn-lg">Перейти к оплате</a>
        </div>
    {% else %}
        <p>Ваша корзина пуста. Вы еще не забронировали ни одной услуги.</p>
        <a href="{% url 'service_list' %}">Посмотреть наши услуги</a>
    {% endif %}
{% endblock %}