{% extends "base.html" %}
{% load static %}

{% block title %}Словарь терминов (FAQ) - Клиника "Здоровье"{% endblock %}
{% block content_title %}Словарь терминов и понятий (FAQ){% endblock %}

{% block content %}
<main id="faq" lang="ru">
  {% if faq_items %}
    <section id="faq-list">
      {% for item in faq_items %}
        <article>
          <details>
            <summary>{{ item.question }}</summary>
            <div>
              <p>{{ item.answer|linebreaksbr }}</p>
              <p>
                Добавлено:
                <time datetime="{{ item.date_added|date:'Y-m-d' }}">
                  {{ item.date_added|date:"d F Y" }}
                </time>
              </p>
            </div>
          </details>
        </article>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </section>
  {% else %}
    <section id="faq-empty">
      <p>В данный момент в этом разделе нет записей. Пожалуйста, зайдите позже.</p>
    </section>
  {% endif %}
</main>
{% endblock %}