{% extends 'base.html' %}

{% block title %}
    {% if current_category %}
        Услуги: {{ current_category.name }}
    {% else %}
        Все услуги
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        <h1>
            {% if current_category %}
                Услуги в категории: {{ current_category.name }}
            {% else %}
                Все услуги
            {% endif %}
        </h1>
        <hr>

        <div>
            <aside>
                <h4>Категории услуг</h4>
                <ul>
                    <li><a href="{% url 'service_list' %}">Все категории</a></li>
                    {% for category in categories %}
                        <li><a href="{% url 'service_list' %}?category_id={{ category.id }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>

            <main>
                {% if services %}
                    {% for service in services %}
                        {% if current_category %}
                            {% include "_service_card.html" with service=service show_category=False %}
                        {% else %}
                            {% include "_service_card.html" with service=service show_category=True %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>В данной категории пока нет услуг или услуги не найдены.</p>
                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}